<!DOCTYPE html>
<html
  xmlns:og="http://opengraphprotocol.org/schema/"
  xmlns:fb="http://www.facebook.com/2008/fbml"
  lang="en-US">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="initial-scale=1" />

    <base href="" />
    <meta charset="utf-8" />
    <title>Doubt’s biggest fear &mdash; Revive Your Work</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;700;800;900"
      crossorigin="anonymous"
      />

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/style.css"
      crossorigin="anonymous"
    />

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </head>

  <body class="tweak-blog-item-alignment-center tweak-footer-show">

    <div class="Site" data-nc-base="header" data-controller="AncillaryLayout">
      <div class="Site-inner">
        <div class="Content-outer">
          <main class="Main Main--blog-item">
            <section class="Main-content" data-content-field="main-content">
              <article
                class="BlogItem hentry category-2-minute-read tag-awareness tag-personal-growth tag-intentional author-rich-schlentz post-type-text has-categories has-tags has-comments">
                <h1 class="BlogItem-title" data-content-field="title">
                  Doubt’s biggest fear
                </h1>

                <div
                  class="sqs-layout sqs-grid-12 columns-12">
                  <div class="row sqs-row">
                    <div class="col sqs-col-3 span-3">
                      <div
                        class="sqs-block spacer-block sqs-block-spacer sized vsize-1">
                        <div class="sqs-block-content">&nbsp;</div>
                      </div>
                    </div>
                    <div class="col sqs-col-6 span-6">
                      <div
                        class="sqs-block image-block sqs-block-image">
                        <div class="sqs-block-content">
                          <div
                            class="image-block-outer-wrapper layout-caption-below design-layout-inline combination-animation-none individual-animation-none individual-text-animation-none"
                            data-test="image-block-inline-outer-wrapper">
                            <figure
                              class="sqs-block-image-figure intrinsic"
                              style="max-width: 1920px">
                              <div
                                class="image-block-wrapper"
                                data-animation-role="image">
                                <div
                                  class="sqs-image-shape-container-element has-aspect-ratio"
                                  style="position: relative;padding-bottom: 56.25%;overflow: hidden;">
                                  <img  crossorigin="anonymous" src="https://images.squarespace-cdn.com/content/v1/591202c45016e1b97decd83f/41be367f-9dee-4505-9a81-0208ab7e25be/Doubt%27s+biggest+fear.jpg?format=1500w" alt="" /><img
                                    class="thumb-image"
                                  />
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                      </div>
                      <div
                        class="sqs-block html-block sqs-block-html">
                        <div class="sqs-block-content">
                          <p>
                            Doubt’s biggest fear is that you might act upon your
                            inner calling.
                          </p>
                          <p>
                            It’s greatest victory is holding you captive in the
                            comfort of a well-worn recliner, conversations about
                            weather, and familiar TV reruns.
                          </p>
                          <p>
                            Doubt has its origin in programming received from
                            early childhood. These self-limiting messages grow
                            into beliefs that act as your daily operating
                            system.
                          </p>
                          <p>
                            Ongoing self-doubt is nourished through a steady
                            diet of negativity. What you read, listen to, and
                            watch is often filled with scandal, death, and
                            destruction. Continue to ingest this programming and
                            you operate from distorted beliefs.
                          </p>
                          <p>
                            It’s virtually impossible to imagine yourself in
                            terms of your highest calling with thoughts flooded
                            by an endless barrage of negativity and
                            hopelessness.
                          </p>
                          <p>
                            There’s good news. As an adult, you’re in charge of
                            the messages you consume. Instead of enabling doubt
                            by programming your belief system with negativity,
                            opt into optimism.
                          </p>
                          <p>
                            You are the gatekeeper of the information you ingest
                            and the thoughts you embrace.
                          </p>
                          <p>
                            When first learning how to do this, I listened to
                            Earl Nightingale’s,
                            <a
                              href="https://www.youtube.com/watch?v=EFhkdzj-x80"
                              target="_blank"
                              >The Strangest Secret</a
                            >
                            on repeat to help release negativity in my thought
                            life.
                          </p>
                          <p>
                            Give it a listen.
                          </p>
                          <p>
                            Here are some phrases that have stuck with me
                            through the years:
                          </p>
                          <ul data-rte-list="default">
                            <li>
                              <p>
                                “We become what we think about.”
                                <em>Earl Nightingale</em>
                              </p>
                            </li>
                            <li>
                              <p>
                                “The greatest discovery of my generation is that
                                human beings can alter their lives by altering
                                their attitude of mind.” <em>William James</em>
                              </p>
                            </li>
                            <li>
                              <p>
                                “If you think in negative terms, you will get
                                negative results, if you think in positive
                                terms, you will achieve positive results. That
                                is a simple fact.” <em>Norman Vincent Peal</em>
                              </p>
                            </li>
                            <li>
                              <p>
                                “Our doubts are traitors and make us lose the
                                good we oft might win by failing to attempt.”
                                <em>William Shakespeare</em>
                              </p>
                            </li>
                            <li>
                              <p>
                                “Every one of us is the sum total of our
                                thoughts. We are where we are because that’s
                                exactly where we really want to be. Each of us
                                lives off the fruit of our thoughts. We are
                                guided by our minds.” <em>Earl Nightingale</em>
                              </p>
                            </li>
                            <li>
                              <p>
                                “Whatever is true, whatever is noble, whatever
                                is right, whatever is pure, whatever is lovely,
                                whatever is admirable—if anything is excellent
                                or praiseworthy—think about such things…and the
                                God of peace will be with you.”
                                <em>Philippians 3:8-9</em>
                              </p>
                            </li>
                            <li>
                              <p>
                                “If your view&nbsp;is&nbsp;basic
                                badness,&nbsp;you see&nbsp;it wherever&nbsp;you
                                go.&nbsp;If your view&nbsp;is&nbsp;basic
                                goodness, you see it wherever you go.”
                                <em>Pema Chodron</em>&nbsp;
                              </p>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                </div>
              </article>
            </section>
          </main>
        </div>
      </div>

      <footer class="Footer">
        <div class="Footer-inner clear">
          <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks">
            <div class="row sqs-row">
              <div class="col sqs-col-12 span-12">
                <div class="row sqs-row">
                  <div class="col sqs-col-3 span-3">
                    <div
                      class="sqs-block html-block sqs-block-html"
                      data-block-type="2"
                      id="block-yui_3_17_2_35_1495466395180_4284" >
                      <div class="sqs-block-content">
                        <h3>
                          EXTRAordinary! Inc.
                        </h3>
                        <p>
                            415 Pisgah Church Road #372<br/>Greensboro, NC 27455<br/><a href="mailto:Hello@ReviveYourWork.com">Hello@ReviveYourWork.com</a><br /><a href="tel:3363174603">336.317.4603</a>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="Footer-middle">
            <div class="sqs-layout sqs-grid-12 columns-12 Footer-blocks Footer-blocks--middle sqs-alternate-block-style-container empty">
              <div class="row sqs-row">
                <div class="col sqs-col-12 span-12"></div>
              </div>
            </div>
            <nav class="Footer-nav" data-content-field="navigation">
              <div class="Footer-nav-group">
                <a href="/home-1" class="Footer-nav-item">Home</a
                ><a href="/experiences" class="Footer-nav-item">Experiences</a
                ><a href="/blog" class="Footer-nav-item">Blog</a
                ><a href="/aboutus" class="Footer-nav-item">About Us</a
                ><a href="/contact" class="Footer-nav-item">Contact</a>
              </div>
            </nav>
          </div>
        </div>
        </div>
      </footer>
    </div>
  </body>
</html>
